
<div class="row">
  <div class="col-2"> </div>
  <div class="col-6">
    <div id="title">
        <h3> {{productResults.title}} </h3>
    </div>
    <div class="col-sm-6 col-md-4">
      <div id="imageWrapper">
        <div>
            <img id="imageItemView" alt="Responsive image" class="img-fluid" src={{productResults.imagePath}} ></img>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
      <ul id="variants" >
        <li>
          <!-- <a class="variantId"  ></a> -->
          <img class="variantListItem" src={{productResults.thumbPath}} imageData={{productResults.imagePath}} variantData="default"> </img>

        </li>
        {{# each variantResults }}
        <li>
          <!-- <a class="variantId"   </a> -->
          <img class="variantListItem" src={{this.thumbPath}} imageData={{this.imagePath}} variantData={{this.color}} ></img>

        </li>
          {{/ each }}
      </ul>
      <div>
          <p> {{productResults.description}} </p>
      </div>
      <form id="addToCartForm" action="/add-to-cart" method="post">
        <input style="display: none" name="productID" value={{productResults._id}} />
        <input id="cartColor" style="display: none" name="color" value="default">
        <span class="input-group-btn">
          <button class="btn btn-success pull-right" type="submit" >Ideš</button>
        </span>

      </form>
      </div>
  </div>
